
#inputsTitle {
	position: relative;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
        float: left;
        width: 66%;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
	height: 5%;
}
#paramsTitle {
	position: relative;
        float: left;
        width: 26%;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
	height: 5%;
}
#resultsTitle {
	position: relative;
        float: left;
        width: 96%;
        margin: 2%;
	height: 5%;
}


#inputAceEditor {
	position: relative;
        width: 60%;
        margin-left: 2%;
        margin-right: 2%;
	height: 40%;
        float: left;
	font-family: 'monaco';
}
#auxParams {
	position: relative;
        float: left;
	margin-left: 2%;
        margin-right: 2%;
        width: 32%;
	height: 40%;
	font-family: 'monaco';
}
#auxParams textarea {
    border-color: #ECECEC;
}

#paramsArea {
        width: 100%;
	height: 100%;
	font-family: 'monaco';
}

#consoleWrapper {
	position: relative;
	background-color: #ECECEC;
        border: #2888DB;
	margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        width: 90%;
	height: 50%;
	font-family: 'monaco';
}

#executeTest{
    position: relative;
        float: left;
        width: 90%;
	height: 5%;
        margin-top: 3%;
        margin-right: 5%;
        margin-left: 5%;
}
