/* DescriptionInspector Menu */

#ideasBinding-descriptionBoardContent,
#modelBoardContent {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 20px;
	height: 100%;
	font-family: monaco;
	z-index: 9;
	overflow-x: hidden;
	overflow-y: scroll;
	white-space: normal;
	display: none;
	background: white;
}

#editorInspector #editorInspectorLoader {
	overflow:hidden;
}

#expandableMenu footer {
	display:block;
	position:relative;
	bottom:0;
	padding: 0px 10px 10px 10px;
	height: 45px;
}

#expandableMenu p {
	white-space:normal;
	padding: 10px 0px;
	text-align: justify;
	position: relative;
	margin: 0;
} 

#expandableMenu active {
	min-height: 30%;
	max-height: 45%;
}

#expandableMenu .cancelExpandedMenu {
	float: left;
}

#inspectorContent, #inspectorModelContent {
	position: relative;
	padding: 10px 35px;
	overflow: auto;
	height: 100%;
	width: 100%;
	bottom: 0;
	white-space: normal;
	margin: 0;
	-webkit-user-select: initial;
}

#inspectorModelContent {
	padding-top: 30px;
	white-space: normal;
}

#inspectorModelContent div {
	margin-bottom: 20px;
}

#inspectorModelContent li {
	margin-bottom: 10px;
}

#editorInspector a.editorTab {
	padding: 4px 10px;
  	background-color: white;
}

#editorInspector .active a.editorTab {
	border-bottom: #F8F8F8;
	background: #F8F8F8;
}

#descriptionInspectorHeaderRemove {
	/* margin-top: -20px; */
}

#descriptionInspectorHeaderRemove h3, #descriptionInspectorHeaderRemove h4 {
	padding-top: 20px;
}

/* Expandable menu buttons */
.inspectorButton {
	overflow: visible;
	position: relative;
	width: 33px;
	height: 33px;
	/* 	font-size: 28px; */
	/* 	text-align: center; */
	float: right;
	border-left: 1px solid rgba(71, 71, 71, 0.02);
	cursor: pointer;
	background: rgba(214, 214, 214, 1);
	color: rgba(255, 255, 255, 0.8);
	line-height: 1;
	z-index: 2;
	-webkit-transition: all 50ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
	-moz-transition: all 50ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
	-o-transition: all 50ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
	transition: all 50ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
	/* easeInOutQuad */
	-webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
	-moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
	-o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
	/* easeInOutQuad */
}

/* .inspectorButton:HOVER { */
/* 	background: #4280b2; */
/* } */
.inspectorButton .btn-group {
	width: 33px;
	height: 33px;
}

.inspectorButton .btn.btn-primary.dropdown-toggle {
	width: 32px;
	height: 33px;
	border-radius: 0;
	font-size: 28px;
	padding: 0px;
	margin: 0;
	line-height: 1;
	border: 0;
}

.modal-body span {
	white-space: initial;
}

.descriptionInspectorContent {
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
	top: 0;
	bottom: 0;
	padding: 0;
}


/* Start ProgressBar */

.one, .two, .three { 
    position:absolute; 
   	margin-top:-10px; 
   	z-index:1; 
   	height:30px; 
   	width:30px; 
   	border-radius:15px; 
   	box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.1); 
   	border: 1px solid rgba(0,0,0,0.1); 
   } 

.one { left:0%; }
.two { left: 50%; }
.three { left: 99%; margin-left: -10px !important; } 

.contentWrapper {
	text-align:center;
	display: block;
	width: 70%;
	position: relative;
	left: 15%;
}

label.selectedFragment {
	margin-right: 5px;
}

input.selectedFragment {
	width: 70%;
	float: right;
	font-family:'monaco';
	font-size:12px;
}

select.selectedFragment {
	float: right;
}

.prevFragment {
	color: #aaa;
}

.progress-number { padding: 3.5px 0 0 10.5px; color: rgba(0,0,0,0.1); background:#222; }; 
.primary-color { background-color:#4989bd; } 
.success-color { background-color:#5cb85c; } 
.danger-color { background-color:#d9534f; } 
.warning-color { background-color:#f0ad4e; } 
.info-color { background-color:#5bc0de; }
.no-color { background-color:inherit; } 

.btn.inactive {background:#E8E8E8;border-color:#E8E8E8;color:#222;} 
 
.highlighted-fragment, .ideas-binding:hover, .to-remove:hover { cursor: pointer; background: rgba(212, 198, 54, 0.5); } 
.ideas-binding-vocab.to-remove:hover { background-color: white;}
.middle-highlighted-fragment { cursor: pointer; background: rgba(0, 0, 0, 0.06); } 


/* Bulk remove list */ 

.bulkRemover { overflow-y: auto; } 

.bulkRemover div { 
	clear: both;
	margin: 0 50px;
}

.bulkRemover label {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #D1D3D4
}

.bulkRemover input[type="checkbox"]:empty { margin-left: -999px; }

.bulkRemover input[type="checkbox"]:empty ~ label {
	position: relative;
	float: left;
	line-height: 2em;
	padding-left: 3.25em;  /* text-indent: 3.25em; */
	white-space: initial; 
	margin-top: 0; 
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bulkRemover input[type="checkbox"]:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content:"";
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

.bulkRemover input[type="checkbox"]:hover:not(:checked) ~ label:before {
	content:"\2714";
	text-indent: .9em;
	color: #C2C2C2;
}

.bulkRemover input[type="checkbox"]:hover:not(:checked) ~ label { color: #888; }

.bulkRemover input[type="checkbox"]:checked ~ label:before {
	content:"\2714";
	text-indent: .9em;
	color: #FFFFFF;
	background-color: #428bca;
}

.bulkRemover input[type="checkbox"]:checked ~ label { color: #777; }

.bulkRemover input[type="checkbox"]:focus ~ label:before { box-shadow: 0 0 0 3px #999; }

/* Adding a disabled state for context menus */
.dropdown-menu>li>a.disabled, .dropdown-menu>li>a.disabled, .dropdown-menu>li>a.disabled:hover, .dropdown-menu>li>a.disabled:focus {
  color: #c6c6c6;
  text-decoration: none;
  background-color: white;
}

/* */
#descriptionInspectorHeaderAdd .dropdown-menu>li>a, #descriptionInspectorHeaderAdd .dropdown-menu>li>a, #descriptionInspectorHeaderAdd .dropdown-menu>li>a:hover, #descriptionInspectorHeaderAdd .dropdown-menu>li>a:focus {
  color: #c6c6c6;
  text-decoration: none;
  background-color: white;
  line-height: 0.3;
  font-size: 9px;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

a.bulkSelectAll, a.bulkSelectNone { cursor: pointer; }

/*#modelBoardContent {
	position: absolute;
	background: white url('../img/ideas/loading1_big_lgbg.gif') center
		no-repeat;
	background-size: 40px;
}*/

/* Agreement template */
div.ag-template {
	position: relative;
	display: inline-flex;
	color: rgb(38, 50, 56);
	text-align: center;
	font: normal normal normal normal 14px / 20px HelveticaNeue-Light, 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
	margin: 20px;
	overflow: hidden;
	max-width: 250px;
	min-height: 0px;
	border-radius: 2px 2px 2px 2px;
	border: 1px solid rgb(227, 242, 253);
	background: rgba(227,242,253,0.25) none repeat scroll 0% 0% / auto padding-box border-box;
}

div.ag-template > ul {
	list-style-type: none;
	padding: 0px;
}

div.ag-template > ul > li {
	box-sizing: border-box;
	margin: 0px 0px 10px;
	width: 100%;
	background: rgb(227, 242, 253) none repeat scroll 0% 0% / auto padding-box border-box;
	padding: 10px 20px;
}

div.ag-template > ul > li > h4 {
	font-weight: bold;
}

/* agreement price */
div.ag-template > ul > li:nth-child(1) {
	background: none;
	margin: 0;
	opacity: 0.75;
}

/* agreement price */
div.ag-template > ul > li:nth-child(2) {
	background: rgb(187, 222, 251) none repeat scroll 0% 0% / auto padding-box border-box !important;
}

/* agreement constraint */
div.ag-template > ul > li:nth-child(3) {}

/* agreement guarantee */
div.ag-template > ul > li:nth-child(4) {
}

/* agreement remover */
div.ag-template > ul > li:nth-child(5) {
	background: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

div.ag-template > ul > li:nth-child(5) > a {
    position: absolute;
    top: -2px;
    right: 5px;
    font-size: 20px;
    color: rgb(203, 218, 228);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}