@CHARSET "UTF-8";
	#consoleWrapper {
      width: 100%; height: 100%; overflow: hidden;
      
    }
    #gcli-root {
      position: absolute; top: 0; bottom: 50px; left: 10px; right: 0px;
    }
    .gcli-prompt {
    	z-index: 0;
    }
    #editorBottomPanelContentLoader {
    	height: 100%;
	}
	.gcli-in-complete {
		z-index: 0;
	}
	.gcli-in-input {
		z-index: 3;
/* 		height: 20px; */
		
		-webkit-user-select: text;  /* Chrome all / Safari all */
 		-moz-user-select: text;     /* Firefox all */
  		-ms-user-select: text;      /* IE 10+ */
  		 user-select: text;
  		 line-height: normal;
	}
	.gcli-display{
		font-family: 'monaco';
		font-size: 12px;
		-webkit-user-select: auto;
	}
	code{
		background-color: #FFFFFF;
	}
	
	/*Console Theme*/
	.gcli-prompt.theme-fg-color6{
		color: #428bca;
	}
	.light .gcli-row-prompt.gcli-row-complete {
		color: #285e8e;
	}
	.light .gcli-out-shortcut {
		color: #ffffff;
		background-color: #428bca;
		border-color: #285e8e;
	}
	.light .gcli-out-shortcut:before {
		color: white;
	}
	@font-face {
	    font-family: 'monaco';
	    src: url(../fonts/Monaco.ttf) format("truetype");
	}
	#ConsoleWrapper, .gcli-in-top, .gcli-panel .gcli-panel-hide,
	.gcli-prompt.theme-fg-color6, .gcli-row-in{
		font-family: 'monaco';
	}
	.opError {
		color:red;
	}