/**
 * Flex align vertical-top, left
 */
.flex-top-left {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: top;
    -ms-flex-align: top;
    align-items: top;
}
/**
 * Flex align vertical-top, right
 */
.flex-top-right {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: top;
    -ms-flex-align: top;
    align-items: top;
}
/**
 * Flex align vertical-top, horizontal center
 */
.flex-top-center {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: top;
    -ms-flex-align: top;
    align-items: top;
}
/**
 * Flex align vertical-top, left
 */
.flex-top-justify {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: top;
    -ms-flex-align: top;
    align-items: top;
}
/**
 * Flex align vertical-center, left
 */
.flex-center-left {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/**
 * Flex align vertical-center, right
 */
.flex-center-right {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/**
 * Flex align vertical-center, horizontal-center
 */
.flex-center-center {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-center-justify {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-columns-justified {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.flex-columns-justified > * {
    margin: auto;
}
.flex-1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex-2 {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.flex-3 {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}
.flex-4 {
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.cards{
    clear: both;
    overflow: hidden;
    margin-right: -24px;
    display: block;
}

.wsm_area {

}
.wsm {

}
.wsm_top {

}
.wsm_content_area {

}

@media (min-width: 918px){
    .col-sm-5 {
        float: left;
        width: 368.5px;
    }  
}

@media (min-width: 768px){
    .col-xs-6 {
        float: left;
        width: 447px;
    }   
}

[class^="col-"], [class*=" col-"] {
    margin-right: 24px;
    box-sizing: border-box;
    display: block;
}

.thumbnail {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid #DDD;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.isotope_section, .tagFilters {
    text-align: center;
    overflow: hidden;
    margin-bottom: 1em;
}
.isotope_section ul {
    list-style: none outside none;
    text-align: center;
    ;
}
.isotope_section ul li {
    display: inline-block;
    ;
}
.isotope_section ul li a {
    color: #363940;
    background: transparent;
    display: inline-block;
    margin: 4px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    ;
}

.wsm_content {
    margin-top: 2em;
    overflow: hidden;
}

.radius {
    border-radius: 2px;
    ;
}


.counter-up {
    position: relative;
    background-color: #171717;
    padding: 80px 0 50px 0;
    ;
}
.counter-up .cover {
    background-color: rgba(0, 7, 11, 0.8);
    ;
}
.counter-up .fact {
    ;
    ;
}
.counter-up .fact.last {
    border-right: none;
    ;
}
.counter-up .fact-inner {
    padding-bottom: 30px;
    ;
}
.counter-up .fact-inner .counter {
    font-size: 60px;
    ;
}
.team-item {
    height: 120px;
    ;
}
.team-item .team-triangle {
    width: 120px;
    height: 120px;
    background: transparent;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0 auto;
    position: relative;
    top: 25px;
    box-shadow: 0 0 0 6px #FFFFFF, 0 0 0 7px #dadbdb;
    overflow: hidden;
    ;
}
.team-item img {
    max-width: 100%;
    ;
}
.team-items {
    margin-bottom: 50px;
    padding-top: 10px;
    margin-top: 0;
    ;
}
.team-triangle .content {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -35px;
    position: absolute;
    left: -37px;
    width: 190px;
    height: 190px;
    ;
}
.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(103, 109, 117, 0.9);
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    ;
}
.team-item .team-triangle:hover .team-hover {
    opacity: 1;
    ;
}
.team-hover i {
    color: rgba(255, 255, 255, .75);
    font-size: 28px;
    margin-top: 57px;
    position: relative;
    ;
}
.team-hover p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    ;
}
.team-items .col-md-2:nth-child(7n+5) {
    clear: left;
    margin-left: 24.9999999%;
    ;
}
.team-items .col-md-2:nth-child(7n+1) {
    clear: left;
    margin-left: 16.6666666%;
    ;
}
#partners-section {
    padding: 80px 0;
    ;
}
.partners {
    background-color: #252320;
    ;
}
.partners img {
    max-width: 100%;
    padding: 0 15px;
    ;
}
.panel,
.panel-heading,
.panel-footer {
    ;
    ;
}
.prices .panel {
    position: relative;
    overflow: hidden;
    border: none;
    ;
}
.prices .panel-body .lead {
    margin: 0;
    font-size: 48px;
    ;
}
.prices .panel-footer {
    padding: 25px 15px;
    ;
}
.prices .panel-default .panel-heading {
    padding-top: 25px;
    border: none;
    ;
}
.prices .panel-default .panel-body {
    background-color: #EEE;
    ;
}
.prices .panel-default .list-group-item {
    color: #222;
    border: none;
    ;
}
.prices .panel-default .panel-footer {
    background-color: #EEE;
    ;
}
.price-box-featured {
    z-index: 9;
    ;
}
.price-box-featured .panel {
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.21);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    ;
}
.prices .price-box-featured .price-box-ribbon {
    position: absolute;
    width: 150px;
    top: 25px;
    right: -35px;
    text-align: center;
    padding: 5px 20px;
    background: #FFF;
    color: #E83F33;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    ;
}
#social-section {
    padding: 80px 0;
    ;
}
ul.social-list {
    text-align: center;
    margin: 0 auto;
    ;
}
ul.social-list li {
    display: inline-block;
    margin-right: 20px;
    ;
}
ul.social-list li .rotate-box-1 {
    margin: 0;
    ;
}
ul.social-list li a i {
    color: #fff;
    font-size: 20px;
    ;
}
#contact-section {
    position: relative;
    ;
}
#contact-section h4 {
    font-weight: 400;
    ;
}
#contact-section .contact .contact-form {
    margin-bottom: 40px;
    ;
}
#contact-section .contact .contact-form h4 {
    margin-bottom: 25px;
    ;
}
#contact-section .contact .contact-form .input-lg {
    font-size: 14px;
    ;
}
#contact-section .contact .contact-form button {
    width: 100%;
    height: 40px;
    ;
}
#contact-section .contact .contact-form button:hover {
    color: #fff;
    ;
}
#contact-section .contact .form-control {
    background-color: rgba(255, 255, 255, 0.06);
    border-color: #2A2A2A;
    ;
}
#contact-section .contact .form-control:focus {
    background-color: #171717;
    box-shadow: none;
    ;
}
ul.contact-address {
    float: left;
    width: 100%;
    padding: 0;
    margin: 15px 0;
    ;
}
ul.contact-address li {
    padding: 0 0 20px;
    margin: 0;
    ;
}
ul.contact-address li:last-child {
    padding-bottom: 0;
    ;
}
ul.contact-address li i {
    margin-right: 10px;
    ;
}
.footer-top {
    padding: 60px 0 35px;
    ;
}
.footer-top .col-md-4 {
    margin-bottom: 25px;
    ;
}
.footer {
    padding: 30px 0;
    ;
}
.footer a {
    text-decoration: none;
    ;
}
ul.imp-links {
    margin-top: 15px;
    ;
}
ul.imp-links li {
    padding: 5px 0;
    ;
}
ul.imp-links li a {
    text-decoration: none;
    color: #fff;
    ;
}
#subscribe #result {
    display: block;
    width: 100% !important;
    ;
}
#footer_signup {
    margin: 20px 0;
    ;
}
#subscribe > input[type="text"] {
    border: 0 none;
    color: #99abb7;
    font-style: italic;
    font-size: 0.9em;
    padding: 7px 10px;
    width: 170px;
    height: 30px;
    ;
}
#subscribe > button[type="submit"] {
    background: none repeat scroll 0 0 #21c2f8;
    border: 0 none;
    color: #ffffff;
    font-style: normal;
    font-weight: 300;
    padding: 7px 20px;
    height: 30px;
    transition: all 0.4s ease-in;
    ;
}
.single-tweet {
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 10px;
    word-spacing: 2px;
    ;
}
.tweet-content {
    padding-bottom: 10px;
    line-height: 1.5em;
    ;
}
.page-header {
    margin: 0 0 60px 0;
    padding: 0;
    border: none;
}
.page-header h2 {
    text-transform: uppercase;
    ;
}
p.subtitle {
    letter-spacing: 2px;
    margin-top: 10px;
    ;
}
.extra-space-m {
    width: 100%;
    height: 20px;
    ;
}
.extra-space-l {
    width: 100%;
    height: 40px;
    ;
}
.extra-space-xl {
    width: 100%;
    height: 60px;
    ;
}
.extra-space-xxl {
    width: 100%;
    height: 80px;
    ;
}
.owl-carousel {
    cursor: e-resize;
    ;
}
.owl-theme .owl-controls {
    margin-top: 30px;
    ;
}
.owl-theme .owl-controls .owl-page span {
    background: rgba(0, 0, 0, 0);
    width: 14px;
    height: 14px;
    border: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    ;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: rgba(0, 0, 0, 0);
    border: 3px solid #fff;
    ;
}
.owl-buttons {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 100%;
    ;
}
.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0;
    text-align: center;
    background: transparent;
    opacity: 1;
    ;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: .5;
    ;
}
.owl-next {
    background-image: url(../img/theme/arrow-right.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    right: 0;
    ;
}
.owl-prev {
    background-image: url(../img/theme/arrow-left.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    left: 0;
    ;
}
.btn {
    position: relative;
    letter-spacing: 1.5px;
    border: none;
    ;
}
.btn:active {
    top: 2px;
    ;
}
.btn-default,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    ;
}
.btn-blank {
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 12px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    ;
}
.btn-blank:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    ;
}
.btn-blank:hover,
.btn-blank:focus,
.btn-blank:active {
    color: #333;
    ;
}
.btn-blank:hover:before,
.btn-blank:focus:before,
.btn-blank:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    ;
}
.btn:active,
.btn.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
    ;
}
.btn-lg {
    font-size: 1.3em;
    padding: 10px 40px;
    ;
}
.btn-lg-xl {
    font-size: 1.4em;
    padding: 10px 80px;
    ;
}
.scrolltotop {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 30px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    z-index: 9999;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    ;
}
.scrolltotop .fa {
    padding-left: 4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    ;
}
ul.style-collaborations-section>li {
    list-style: circle;
    padding: 1em;
    margin-left: 15%;
    margin-right: 10%;
    ;
}
.visibility-hidden {
    visibility: hidden;
    ;
}
.active_prot_supermenu>a {
    background: #363940 !important;
    color: #fff !important;
    ;
}
@media (max-width: 992px) {
    .clase-de-imagen-logo-grupo {
        height: 25px;
        padding-top: 2%;
        ;
    }
    .clase-enlace-herramienta {
        text-align: left;
        padding-top: 2%;
        text-decoration: underline;
        ;
    }
    .cabecera-lista-herramientas {
        border-top: 1px solid lightgrey;
        ;
    }
    .clase-texto-descripcion {
        text-align: left;
        ;
    }
}
.clase-de-imagen-logo-grupo {
    height: 25px;
    padding-top: 2%;
    ;
}
.clase-enlace-herramienta {
    text-align: left;
    padding-top: 2%;
    ;
}
.cabecera-lista-herramientas {
    border-top: 1px solid lightgrey;
    ;
}
.clase-texto-descripcion {
    text-align: left;
    ;
}
div.style-funding>ul {
    margin-bottom: 10px;
    margin-left: 20px;
    list-style: circle;
    ;
}
div.style-funding>ul>li {
    margin-bottom: 10px;
    list-style: circle;
    margin-left: 10px;
    ;
}
.lista-herramientas-totales {
    display: none;
    ;
}
.botonTabla {
    margin-top: 10px;
    ;
}
div.style-members>ul {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
    border: 1px solid transparent;
}
div.style-members>ul>li {
    margin-bottom: 6px;
    list-style: none;
    margin-left: 10px;
}
.avatar-members {
    width: 85px;
    height: 85px;
    float: left;
    margin-right: 7px;
    border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    overflow: hidden;
}
.portfolio-menu-members {
    margin-bottom: 10px;
}
.portfolio-content-members {
    margin-top: 10px;
    ;
}
.page-header-members {
    margin-bottom: 10px;
    ;
}
.icono {
    height: 25px;
    ;
}
@media(max-width: 992px) {
    .navbar-nav > li > a {
        padding: 24px 0;
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        ;
    }
    .navbar-brand {
        width: 60px;
        ;
    }
    .navbar-default .navbar-brand {
        background-image: url(../img/theme/logo2.png);
        ;
    }
}
.v-center {
    display: inline-block;
    vertical-align: top;
    float: none;
    ;
}
.paginaActiva {
    font-weight: bold;
    ;
}
#filtersubmit {
    position: relative;
    z-index: 10;
    left: -25px;
    top: 10px;
    color: #7B7B7B;
    width: 0;
    ;
}
#searcher:focus {
    border-color: black;
    ;
}


.lastOne {
    float: none;
    margin: 0 auto;
    ;
}
.lastTwo {
    margin-left: 20%;
    ;
}
@media(max-width: 992px) {
    .lastTwo {
        margin-left: 0%;
        ;
    }
    .lastOne {
        float: left;
        ;
    }
}
.lastOneHead {
    margin: 0 auto;
    ;
}
.display-none {
    display: none;
    ;
}

.imagenes-logo {
    height: 55px;
    max-width: 7em;
    font-family: Roboto;
    ;
}
h5.h5-resources-right {
    text-align: right;
    padding-top: 10px;
    ;
}
h5.h5-resources-left {
    text-align: left;
    padding-top: 10px;
    ;
}
h6.h6-resources-right {
    text-align: right;
    ;
}
h6.h6-resources-left {
    text-align: left;
    ;
}
div.style-div-resources-right,
div.style-div-resources-left {
    padding-top: 10px;
    padding-bottom: 10px;
    ;
}

#projectsTimeline {
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 37em;
}
#collaborationsTimeline {
    position: absolute;
    top: 220px;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 29em;
}
.border-tlr-radius {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    ;
}
.text-center {
    text-align: center;
    ;
}

.padding-tb {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    ;
}
.shadowDepth0 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    ;
}
.shadowDepth1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 7px rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(144, 144, 144, 0.21);
}
.card {
    background-color: #fff;
    margin-bottom: 1.6rem;
}
.card__padding {
    padding-left: 10px;
    padding-right: 1px;
    padding-top: 10px;
    padding-bottom: 1px;
    transition: visibility 4s, cubic-bezier(0.4, 0, 1, 1);
    ;
}
.card__image {
    min-height: 100px;
    background-color: #eee;
    ;
}
.card__image img {
    width: 100%;
    max-width: 100%;
    display: block;
    ;
}
.card__content {
    position: relative;
    ;
}
.card__content-img {
    height: 10em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.card__content-cont-img {
    text-align: center;
}
.card__meta {
    border-bottom: 1px solid #DEDEDE;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    display: inline-flex;
    display: flex;
    min-height: 11em;
    max-height: 11em;
}
.card__meta.tool {
    min-height: 7em;
    max-height: 7em;
}
.card__meta-logo {
    height: 100%;
    width: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 6em;
}
.card__meta-content {
    margin-left: 0.25em;
    width: 70%;
}
@media (max-width: 600px){
    .card__meta-content-title {
        font-size: 14px;
        color: #363940;
        font-weight: bold;
        padding-top: 1.8vw;
    }
    .card__meta-content-subtitle {
        color: #65676B;
        font-size: 10px;
        line-height: 1rem;
        margin-bottom: 0.5rem;
    }
    .card__meta time {
        font-size: 8px;
        color: #bbb;
        float: right;
    }
    .btn-tag{
        font-size: 8px;
    }
    .wholeCard{
        min-width: 325px;
    }
}
@media (min-width: 600px){
    .card__meta-content-title {
        font-size: 18px;
        color: #363940;
        font-weight: bold;
        padding-top: 1.8vw;
    }
    .card__meta-content-subtitle {
        color: #65676B;
        font-size: 14px;
        line-height: 1rem;
        margin-bottom: 0.5rem;
    }
    .card__meta time {
        font-size: 10px;
        color: #bbb;
        float: right;
    }
    .btn-tag{
        font-size: 10px;
    }
}
@media (min-width: 1425px){
    cards .col-md-4 {
        float: left;
        width: 290px;
    }
}

.card__article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease;
    ;
}
.card__article a:hover {
    color: #2980b9;
    ;
}
.card__action {
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid #DEDEDE;
    ;
}

a.tooltips {
    position: relative;
    display: inline;
    ;
}
a.tooltips span {
    position: absolute;
    width: 214px;
    color: #FFFFFF;
    background: #000000;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    display: table;
    ;
}
a.tooltips span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: 12px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    ;
}
a:hover.tooltips span {
    visibility: visible;
    opacity: 0.9;
    bottom: 30px;
    margin-left: -8.5em;
    z-index: 999;
    position: fixed;
    ;
}


.authorTooltip {
    display: block;
    ;
}
.imgTooltip {
    width: 3.5em;
    height: auto;
    margin: 1em 1em 1em 1em;
    ;
}
.imgTooltip:last-child {
    margin: 1em 0 1em 1em;
    ;
}
a,
a:hover,
a:focus {
    color: #676D75;
    ;
}

.btn-default,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    background: #363940;
    color: #fff;
}
.btn-default:hover {
    color: #fff;
    background: #676D75;
}
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #3078B3;
    color: #FFF;
}
.btn-primary:hover {
    background-color: #1867A8;
    color: #FFF;
}
.btn-danger,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
    background-color: #E7392D;
    color: #FFF;
}
.btn-danger:hover {
    background-color: #D81508;
    color: #FFF;
}
.scrolltotop {
    color: #676D75;
    border: 2px solid #676D75;
}





.title-wsm{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.divider {
    width: 100%;
    height: 23px;
    background: url(../img/divider.png) center center no-repeat;
    margin: 5px 0 10px;
}

.tagFilters a {
    color: #EEE;
    background: transparent;
    display: inline-block;
    margin: 4px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.active_prot_menu a,
.isotope_section ul li a:hover,
.tagFilters a:hover{
    background: #363940 !important;
    color: #fff !important;
}

/*Card colors*/

.workspace .card__meta, .workspace .card__action{
    background-color: #dfede8;
}

.demoworkspace .card__meta, .demoworkspace .card__action{
    background-color: #e5dfed;
}
.publicdemo .card__meta, .publicdemo .card__action{
    background-color: #dde8ee;
}

/*Card buttons*/
.actions_bar_title{
    font-size: 14px;
    float: left;
    width:  3vw;
}

.actions_bar_buttons{
    margin-left: 3vw;
    margin-bottom: 6px;
}

.actions_bar_buttons a{
    margin-left: 3px;
    margin-right: 3px;   
}

.card__content article{
    font-size: 1.5vw;
}

.card__article {} .card__article_collapse {
    background-color: rgba(54, 57, 64, 0.05);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.9rem;
    color: #363940;
    font-weight: bold;
    cursor: pointer;
}
.collapsible {} 

.card__counters {
    text-align: center;
}
.card__counters img {
}
.card__counters-content {
    display: inline-flex;
    color: #363940;
    margin-left: 2vw;
    margin-right: 2vw;
}
.card__counters-content a {
    color: #363940;
}
.card__counters-content a {
    display: inline-flex;
    text-decoration: none;
    ;
}
.card__counters-content_item {
    display: inline-flex;
}
.card__counters img {
    border-radius: 41% !important;
    margin-right: 0.6em;
}

card__content-text p{
    background-color: black;
    color: white;
}

.btn-tag {
  font-size: 10px;
  color:white;
  background-image: -webkit-linear-gradient(top, #000000 0%,  #000000 100%);
  background-image:      -o-linear-gradient(top, #000000 0%, #000000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#000000));
  background-image:         linear-gradient(to bottom, #000000 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}